<h2>Colors</h2>

<h5>(Try clicking on one)</h5>

<div class="color-container">

  <div *ngFor="let color of colors"
       [style.background-color]="color.getRGB()"
       class="color"
       (click)="randomizeColor(color)"
  >

    <div class="color-text-container">
      <p class="color-text black">{{color.getDisplayRGB()}}</p>
      <p class="color-text gray">{{color.getDisplayRGB()}}</p>
      <p class="color-text white">{{color.getDisplayRGB()}}</p>
    </div>

  </div>


</div>

<button (click)="randomizeAllColors()">Randomize Colors</button>


