<mat-toolbar color="primary">

  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>voicemail</mat-icon>
      <span>Check voice mail</span>
    </button>
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Disable alerts</span>
    </button>
  </mat-menu>

  <span>My App</span>
  <span class="example-spacer"></span>

  <button mat-icon-button>
    <mat-icon>favorite</mat-icon>
  </button>

  <button mat-icon-button>
    <mat-icon>share</mat-icon>
  </button>

</mat-toolbar>

<mat-card>
  <mat-card-content>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Error Matching Column -->
      <ng-container matColumnDef="error-matching">
        <th mat-header-cell *matHeaderCellDef> Error matching? </th>
        <td mat-cell *matCellDef="let element"> {{element.errorMatching}} </td>
      </ng-container>

      <!-- Error Message Column -->
      <ng-container matColumnDef="error-message">
        <th mat-header-cell *matHeaderCellDef> Error Message </th>
        <td mat-cell *matCellDef="let element"> {{element.errorMessage}} </td>
      </ng-container>

      <!-- Guidance Column -->
      <ng-container matColumnDef="guidance">
        <th mat-header-cell *matHeaderCellDef> Guidance </th>
        <td mat-cell *matCellDef="let element"> {{element.guidance}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div>
      From: <a href="https://github.com/uber-go/guide/blob/master/style.md#errors">Uber Go Style Guide - Errors</a>
    </div>

    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher" placeholder="Ex. pat@example.com">
        <mat-hint>Email Validation</mat-hint>
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>


<router-outlet></router-outlet>
